body {
	background-color: black;
	background-image: url("images/background.webp");
}

.main {
	position: relative;
}

.title {
	margin: 25px;
	font-family: 'Orbitron', sans-serif;
	color: white;
	font-weight: 700;
}

.enlist {
	display: block;
	margin: auto;
	margin-top: 3%;
	width: 120px;
	padding: 20px;
	text-align: center;
	border: 2px solid #42EDF8;
	border-radius: 5px;
	font-family: 'Orbitron', sans-serif;
	color: white;
	background-color: #0C67A1;
	font-weight: 700;
	text-decoration: none;
}

.enlist:hover {
	color: darkblue;
	border: 2px solid darkblue;
	background-color: #42EDF8;
}

.h2title {
	display: block;
	border: 2px solid #42EDF8;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	width: 80%;
	padding: 3%;
	text-align: center;
	margin: auto;
	font-family: 'Orbitron', sans-serif;
	font-size: 100%;
}

/* for screens of at least 311px wide */
@media only screen and (min-width: 311px) {
	.h2title {
		width: 70%;
	}
}

/* for screens of at least 637px wide */
@media only screen and (min-width: 637px) {
	.h2title {
		width: 50%;
	}
}

.whatis {
	background:rgba(0, 0, 0, 0.5);
	color: white;
	display: block;
	border-radius: 12px;
	max-width: 800px;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

@media only screen and (min-width: 637px) {
	.whatis {
		padding-left: 25px;
		padding-right: 25px;
	}
}

.text {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: 'Electrolize', sans-serif;
}

@media only screen and (min-width: 637px) {
	.text {
		margin: 15px;
	}
}

.refcode {
	display: block;
	border: 2px solid #42EDF8;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	width: 80%;
	padding: 3%;
	text-align: center;
	margin: auto;
	font-family: 'Orbitron', sans-serif;
	font-weight: 500;
	text-decoration: none;
}

/* for screens of at least 311px wide */
@media only screen and (min-width: 311px) {
	.refcode {
		width: 70%;
	}
}

/* for screens of at least 637px wide */
@media only screen and (min-width: 637px) {
	.refcode {
		width: 30%;
	}
}

.refcode:hover {
	background: rgba(0, 100, 255, 0.7);
}

footer {
	margin: auto;
	width: 15%;
	text-align: center;
	margin-top: 5%;
}
.email {
	color: lightgrey;
	font-family: 'Electrolize', sans-serif;
	text-decoration: none;
	opacity: 0.6;
}

a {
	color: #62d1fd;
}
a:hover {
	color: white;
	opacity: 1;
}
