body {
	background-color: black;
	background-image: url("images/background.jpg");
}

.main {
	position: relative;
}

.title {
	margin: 25px;
	font-family: 'Orbitron', sans-serif;
	color: white;
	font-weight: 700;
}

.enlist {
	display: block;
	margin: auto;
	margin-top: 80px;
	width: 120px;
	padding: 20px;
	text-align: center;
	border: 2px solid #42EDF8;
	border-radius: 5px;
	font-family: 'Orbitron', sans-serif;
	color: white;
	background-color: #0C67A1;
	font-weight: 700;
	text-decoration: none;
}

.enlist:hover {
	color: darkblue;
	border: 2px solid darkblue;
	background-color: #42EDF8;
}

.h2title {
	display: block;
	border: 2px solid #42EDF8;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	width: 50%;
	height: 30px;
	padding: 20px;
	text-align: center;
	margin: auto;
	padding-top: 3%;
	margin-top: 50px;
	font-family: 'Orbitron', sans-serif;
	font-size: 100%;
}

.whatis {
	background:rgba(0, 0, 0, 0.5);
	color: white;
	display: block;
	border-radius: 12px;
	width: 90%;
	max-width: 800px;
	margin: auto;
	padding: 25px;
	text-align: center;
}

.text {
	margin: 15px;
	font-family: 'Electrolize', sans-serif;
}

.refcode {
	display: block;
	border: 2px solid #42EDF8;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	width: 50%;
	height: 25px;
	padding: 3%;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	font-family: 'Orbitron', sans-serif;
	font-weight: 500;
	text-decoration: none;
}

.refcode:hover {
	background: rgba(0, 100, 255, 0.7);
}

footer {
	margin: auto;
	width: 15%;
	text-align: center;
	margin-top: 5%;
}
.email {
	color: lightgrey;
	font-family: 'Electrolize', sans-serif;
	text-decoration: none;
	opacity: 0.6;
}
